%h2 We are located at
%p 
  374 Gannett Rd. N.Scituate, MA 02066
  1-781-543-WAVE (9283)

%iframe{:frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed/v1/place?q=374%20Gannett%20Rd%2C%20Scituate%2C%20MA%2002066%2C%20United%20States%2C%20North%20America&key=AIzaSyDtGIu8XAdRmreYCkYAtiZ2Uo_DRRqqybw", :style => "border:0", :width => "600"}