Hi Shaper,
%br
A new board has been ordered with these specs by:
%br
=@surfboard.customer_name
%br
=@surfboard.customer_email
%br
=@surfboard.customer_phone
%br
=@surfboard.board_type
%br
=@surfboard.materials
%br
=@surfboard.fin_setup
%br
=@surfboard.fin_type
%br
=@surfboard.tail
%br
=@surfboard.glassing
%br
=@surfboard.length
%br
=@surfboard.width
%br
=@surfboard.thickness
%br
=@surfboard.graphics
%br
=@surfboard.special_instructions
